/* font family  */
@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica-light-587ebe5a59211.ttf);
  }
  
  :root {
    --primary-color: #4fd1c5;
    --secondary-color: #718096;
    --lable-color: #c4c4c4;
    --placholder-color: #a0aec0;
    --common-white: #ffffff;
    --common-black: #000000;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  .wrapper {
    background-color: #000000;
    display: flex;
  }
  

  /* START HISTORY SECTION */
#history{
  width: 99%;
  margin: auto;
  /* border: 1px solid #000; */
}
.historyText h2 {
  display: inline !important;
}
#historyColWrapper{
  background-color: white !important;
  width: 100%;
  height: auto ;border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px ;
}
.historyIcon {
  background-color: var(--primary-color) !important;
  padding:20px ;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px ;
}
.historyIcon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.historyText h4 {
  color: var(--Gray-Gray-400, #A0AEC0);
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
}
.historyText h2 {
  color: var(--Gray-Gray-700, #2D3748);
font-family: Helvetica;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 25.2px */
}
.historyText span {
  color: var(--Green-Green-400, #48BB78);
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 19.6px */
margin: 0px 6px ;
}
.historyText .spanRed {
  color: var(--Green-Green-400, #f10000);
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 19.6px */
margin: 0px 6px ;
}

  /* END HISTORY SECTION */

  /* START DEVELOPER SECTION  */
  #developer{
    width: 99%;
    min-height: 225px ;
    border: 1px solid black;
    margin: auto;
    position: relative;
    /* padding: 20px ; */
    border-radius: 15px;

    
  }

  .devloperColOne{
    background: #000000;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    padding: 10px !important;
    border-radius: 12px ;
  }
  .historyColWrapper{
    background: #1D2126;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    padding: 40px 20px  !important;
    border-radius: 12px ;
  }
  .historySecondColumn{
    background: #000000;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    padding: 10px !important;
    border-radius: 12px ;
  }
  .historySecondColWrapper{
    background: #1D2126;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    padding: 20px !important;
    border-radius: 12px ;
  }

  .historyText p {
    max-width: 450px;
  }
  .historyText a {
    text-decoration: none;
    position: absolute;
    bottom: 30px;
    left: 25px;
    color: white !important;
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 15px */
  }
 
.historyText h4{
  color: var(--Gray-Gray-400, #A0AEC0);
font-family: Helvetica;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 18px */
}
.historyText h1{
  color: #919191;
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 25.2px */
}
.historyText p{
  color: var(--Gray-Gray-400, #A0AEC0);
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
}
.historyContent{
  position: relative;
  width: 300px !important;
  transform: scale(1.15);
  transform: scaley(1.15);
}
.historeyImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.historeyImg img {
  width: 102px;
height: 69.955px;
flex-shrink: 0;
margin-left: 40px !important;
}
.historyContent h6 {
  color: #FFF;
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
text-wrap:nowrap;
padding: 10px 0px ;
}
.historyColWrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px ;
}
.historySecondColumn{
  display: flex;
  align-content:center ;
  align-content: center;
}

.historySecondColWrapper{
  height: 100%;
  width: 100%;
  padding: 10px ;
}
.second{
  height: 100%;
  width: 100%;
  border-radius: 12px !important;
  background: linear-gradient(rgba(8, 16, 37, 0.5),
  rgba(0, 0, 0, 0.2)), url(../image/dashboard-screen/metting-img-1.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.second a {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white !important;
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 15px */
}

.secondText h4 {
  color: #FFF;
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 25.2px */
}
.secondText{
  padding: 20px ;
}
.secondText p {
  color: #FFF;
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
max-width: 400px ;
}
  /* END DEVELOPER SECTION  */