/* font family  */
@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica-light-587ebe5a59211.ttf);
  }
  
  :root {
    --primary-color: #4fd1c5;
    --secondary-color: #718096;
    --lable-color: #c4c4c4;
    --placholder-color: #a0aec0;
    --common-white: #ffffff;
    --common-black: #000000;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  
  /* body {
    background: #14181b;
    min-height: 100vh ;
  } */